# Application General Settings
APP_ENV=development
DEBUG=True
LOG_LEVEL=INFO
SECRETS_DIR=/app/secrets

# Neo4j Database Connection
# docker-compose.yml에 정의된 서비스 이름을 사용합니다.
NEO4J_URI=bolt://neo4j-gds-apoc-n10s:7687
NEO4J_USERNAME=neo4j
NEO4J_PASSWORD=neo4jpassword
NEO4J_DATABASE=neo4j

# PGVector (PostgreSQL) Database Connection
# docker-compose.yml에 정의된 서비스 이름을 사용합니다.
PGVECTOR_HOST=pgvector-container
PGVECTOR_PORT=5432
PGVECTOR_DBNAME=vectordb
PGVECTOR_USER=pguser
PGVECTOR_PASSWORD=postgrespassword

# External API Keys
OPENAI_API_KEY=API키를입력하세요
OPENAI_API_BASE=https://aihub-api.sktelecom.com/aihub/v2/sandbox